* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 30px;
}

li {
  list-style-type: none;
}

.posted i {
  margin-left: 3px;
  color: #eb3c62;
  cursor: pointer;
}
#caret {
  cursor: pointer;
  color: #777;
  padding-top: -15px;
}
#x {
  cursor: pointer;
  color: #eb3c62;
  padding-top: 5px;
}
.listContainer {
  width: 66.7%;
  margin: 3px 0px;
  padding: 0;
  border: 1px solid #777;
  border-width: 2px;
  border-radius: 5px;
}
.list {
  cursor: pointer;
  font-size: 20px;
  padding: 12px 16px;
  border-bottom: 1px solid #ddd;
}
.list:hover {
  background-color: #ddd;
}
.dropdown {
  display: grid;
  grid-template-columns: 92% 5% 5%;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  height: 25px;
  width: 65%;
  padding: 10px;
  justify-content: flex-start;
}
.postedList {
  display: inline-flex;
  flex-wrap: wrap;
}

.posted {
  display: inline;
  border-width: 2px;
  border-radius: 5px;
  background-color: lightgrey;
  padding: 5px;
}
.postedContainer {
  padding: 3px;
}
